<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">NOM</th>
      <th scope="col">PRENOM</th>
      <th scope="col">CIN</th>
      <th scope="col">GROUPE SANGUIN</th>
      <th scope="col">EMAIL</th>
      <th scope="col">VILLE</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody *ngFor="let response of responses">
    <tr>
      <th scope="row">{{response.id}}</th>
      <td>{{response.nom}}</td>
      <td>{{response.prenom}}</td>
      <td>{{response.cin}}</td>
      <td>{{response.groupeSanguin}}</td>
      <td>{{response.mail}}</td>
      <td>{{response.ville}}</td>
      <td></td>
    </tr>

  </tbody>
</table>
