<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="medecin">Donneurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="barchart">Diagrammes en batôn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Diagramme circulaires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<h1 style="text-align:center">Diagrame en batôn</h1>

<p-chart type="bar" [data]="data"></p-chart>
